In [5]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
print("Modules load complete!!")

Modules load complete!!

In [6]:
path = '/home/vosti/machine_learning/csvs/melb_data.csv'
df = pd.read_csv(path)

df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [7]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [8]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [9]:
features = ['Landsize', 'Lattitude', 'Longtitude', 'Distance', 'Bedroom2']
X = df[features]
X.head()

   Landsize  Lattitude  Longtitude  Distance  Bedroom2
0     202.0   -37.7996    144.9984       2.5       2.0
1     156.0   -37.8079    144.9934       2.5       2.0
2     134.0   -37.8093    144.9944       2.5       3.0
3      94.0   -37.7969    144.9969       2.5       3.0
4     120.0   -37.8072    144.9941       2.5       3.0

In [18]:
#Target
y = df['Price']

### **Creating Model**

In [21]:
#Define model
model = DecisionTreeRegressor()

#fit model
model.fit(X,y)

#predict
prediction = model.predict(X.head())

print("The original prices are:", y.head().tolist())
print("The predicted prices are:", prediction)

The original prices are: [1480000.0, 1035000.0, 1465000.0, 850000.0, 1600000.0]
The predicted prices are: [1480000. 1035000. 1465000.  850000. 1600000.]

The model gives an "accurate" prediction compared to the actual price but this is because we are using in-sample data for training and testing our model. Suppose we give our model a new data set that it has never seen will it give accurate predictions? 
Lets See...

In [22]:
#Define features and target - X_test and y_test are the unseen data
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=0)

#fit the model
model.fit(X_train,y_train)

#predict
predict = model.predict(X_test.head())

print("The original prices are:", y.head().tolist())
print("The predicted prices are:", predict)

The original prices are: [1480000.0, 1035000.0, 1465000.0, 850000.0, 1600000.0]
The predicted prices are: [1500000.  887000.  613000. 1182500.  840000.]

We see that the predicted prices differ from the original prices if we use new data.

So lets calculate the `mean_absolute_error` which is the absolute value of Original-predicted.

In [23]:
#We start with the mean_absolute_error(mae) for the 'in-sample' data.
prediction_wh = model.predict(X)
mean_absolute_error(y, prediction_wh)

63703.594059892

In [25]:
#mae for unseen data
predict_wh = model.predict(X_test)
mean_absolute_error(y_test, predict_wh)

251441.2196367207

We see that the mae for in-sample data is lower compared to that of unseen data.

*Underfitting* is when the model fails to capture the relevant patterns and fails to give good predictions while *Overfitting* is capturing patterns that cannot be repeated again and using them for prediction thus failing to give good predictions.

Now let us try to fine tune our model by changing the tree depth using `max_leaf_nodes` argument for better perfomance.

In [143]:
start = int(input("Enter start value:"))
stop = int(input("Enter stop value:"))
step = int(input("Enter step value:"))
max_leaf_nodes = list(range(start, stop, step))

def get_mae(max_leaf_node, X_train, X_test, y_train, y_test):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_node, random_state=0)
    model.fit(X_train,y_train)
    pred = model.predict(X_test)
    mae = mean_absolute_error(y_test, pred)
    return mae

maes = [] #list of mean absolute errors

for max_leaf_node in max_leaf_nodes:
    meaber = get_mae(max_leaf_node, X_train, X_test, y_train, y_test)
    maes.append(meaber)
    #print("Max leaf nodes %d \t MAE value: %d" %(max_leaf_node, meaber))

min_mae = min(maes) #variable for storing minimum mean absolute error
index = maes.index(min_mae) #The index of the minimum mae.
value = max_leaf_nodes[index] #The value of max_leaf_nodes with minimum Mae.
print("Max leaf nodes %d has the lowest mae of %d" %(value,min_mae))

Enter start value:10
Enter stop value:800
Enter step value:10
Max leaf nodes 480 has the lowest mae of 230609

After getting the number of leaf nodes with the lowest mean absolute error, we use this value to make predictions.

In [151]:
model = DecisionTreeRegressor(max_leaf_nodes=480, random_state=0)
model.fit(X,y)
predicted_price = model.predict(X.head())
predicted_prices = model.predict(X)

pred_prices=[]
for price in predicted_price:
    vals = round(price, 1)
    pred_prices.append(vals)

print("The original prices are :", y.head().tolist())
print("The predicted prices are:", pred_prices)

#MAE
meabser = mean_absolute_error(y.head(), predicted_price)
#print("For " + str(value) + " max_leaf_nodes,", "The MAE value is: {:,.2f}".format(meabser))
print("Number of leaf nodes: %d \t MAE value: %d" %(value, meabser))

The original prices are : [1480000.0, 1035000.0, 1465000.0, 850000.0, 1600000.0]
The predicted prices are: [1182865.6, 1182865.6, 1325131.6, 1131259.3, 1384741.9]
Number of leaf nodes: 480 	 MAE value: 216277